#thumbnails img{
	height: 35px;
	width: 35px;
}

#thumbnails img:hover{
	cursor: pointer;
}

.row .col-md-10 .row .col-md-7 .row .col-md-6 .row .col-md-12{
	height: 20%;
	width: 20%;
	text-align: center;
}


#enlarged_thumbnail img{
	/*
	max-width: 85%;
	max-height: 85%;
	vertical-align: middle;
	 */
	height: auto;
	width: 85%;	
}



#side_container{
}

