#thumbnails img{
	height: 35px;
	width: 35px;
	padding-bottom: 3px;
}

#thumbnails img:hover{
	cursor: pointer;
}

.row .col-md-10 .row .col-md-7 .row .col-md-6 .row .col-md-12 {
	height: 20%;
	width: 20%;
	text-align: center;
	margin-top: 5px;
}
.row .col-md-10 .row .col-md-7 .row .col-md-6 .row .col-md-12 :hover{
	cursor: pointer;
}


#enlarged_thumbnail img{
	height: auto;
	width: 85%;	
}


.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.right{
	right: 10px;
}


